body, header, section, div, ul {
    margin: 0;
    padding: 0;
}

body {
    header {
        text-align: center;
        color: black;

        & > ul{
            font-size:1.3rem;
            margin-top:15px;
            margin-bottom:35px;
            list-style:none;
        }
    }

    #input-section{
        margin-left:5px;

        #pointX {
            margin-right:10px;
        }
        #pointY {
            margin-right:10px;
        }
        
        #check {
            border-radius: 5px;
            margin-left:10px;
        }
        #clear {
            border-radius: 5px;
            margin-left:10px;
        }
    }

    #console {
        margin-top:15px;
        margin-left:5px;

        .js-console {
            width:1150px;
        }
    }
}
